<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
>

  <display-name>Sample Application</display-name>

  <!-- Servlet mapping -->
  <servlet>
    <servlet-name>Sample</servlet-name>
    <servlet-class>br.ufscar.servlet.Sample</servlet-class>
  </servlet>

  <!-- JSP Mapping, necessary only if JSP is inside WEB-INF -->
  <servlet>
    <servlet-name>SampleJsp</servlet-name>
    <jsp-file>/WEB-INF/pages/sampleLogic.jsp</jsp-file>
  </servlet>

  <!-- Application routes -->
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>
</web-app>
